extends layout

block content
    h1 #{title}
    from 
        input(type="text", name="")
        input(type="text", name="")
        input(type="text", name="")
        input(type="text", name="")
    script.
        
